In [2]:
import pandas as pd
import matplotlib.pyplot as plt


---

# ðŸŸ¡ MEDIUM LEVEL QUESTIONS (1â€“15)

1. Display the number of unique locations in the dataset.
2. Find the top 10 locations with the highest number of listings.
3. Calculate the average `price` for each `bhk`.
4. Calculate the average `price_per_sqft` for each `location`.
5. Filter all houses where `total_sqft` is greater than 2000.
6. Find all listings where the number of bathrooms is greater than the number of bedrooms.
7. Sort the dataset by `price_per_sqft` in descending order and show the top 10 rows.
8. Find the minimum, maximum, and average house price.
9. Count how many houses exist for each `size` category.
10. Find listings where `bhk` is greater than 5.
11. Create a new column `price_per_bhk` (`price / bhk`).
12. Find the average `total_sqft` for each `bhk`.
13. Identify locations where the average house price is greater than 100 (lakhs).
14. Find houses where `price_per_sqft` is above the overall average.
15. Remove duplicate rows (if any) and report how many rows were removed.

---

# ðŸ”µ HARD LEVEL QUESTIONS (16â€“30)

16. Find the **top 5 most expensive locations** based on average `price_per_sqft`.
17. For each `bhk`, find the **maximum price** and corresponding location.
18. Create a column `luxury_level`:

* `Low` â†’ price < 50
* `Medium` â†’ price 50â€“100
* `High` â†’ price > 100

19. Find locations where **at least 10 houses** are listed.
20. Compute the **median price per bhk**.
21. Detect **outliers** in `price_per_sqft` using the IQR method.
22. Remove properties where `total_sqft / bhk < 300` and explain why this matters.
23. For each location, calculate the **standard deviation of price_per_sqft**.
24. Find locations where the price variation (std) is unusually high.
25. Normalize `price_per_sqft` using Minâ€“Max scaling.
26. Create a new column `bath_bhk_ratio` (`bath / bhk`) and analyze extreme values.
27. Find properties where `bath_bhk_ratio > 2`.
28. Rank houses within each `location` based on `price`.
29. Prepare a cleaned dataset by:

    * Removing extreme outliers
    * Keeping only locations with â‰¥ 10 listings
30. Select features suitable for a **machine learning model** to predict `price` and explain why `location` needs special handling.

---

In [3]:
df=pd.read_csv("bhp.csv")
df.head(5)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250

In [ ]:
print("Missing values in each column:")
df.isna().sum()

---Answer of medium questions

In [ ]:
#1
df["location"].nunique()
#2
df["location"].value_counts().head(10)
#3
df.groupby("bhk")["price"].mean()
#4
df.groupby("location")["price_per_sqft"].mean().round(2)
#5
df[df["total_sqft"]>2000]
#6
df[(df["bhk"])>(df["bath"])]
#7
df.sort_values("price_per_sqft",ascending=False).head(10)
#8
df["price"].min(), df["price"].max(), df["price"].mean()
# print(df["price"].min(), df["price"].max(), df["price"].mean())

#9
# df.groupby("size").value_counts()
df["size"].value_counts()

#10
df["bhk"]>5
#11
df["price_per_bhk"]=df["price"]/df["bhk"]
#12
df.groupby('bhk')["total_sqft"].mean()
#13
avg_price_loc = df.groupby("location")["price"].mean()
avg_price_loc[avg_price_loc > 100]

#14
df[df["price_per_sqft"]>(df["price_per_sqft"].mean())]

#15
before = len(df)
df = df.drop_duplicates()
after = len(df)
before- after

--Answer to the Hard Questions

In [9]:
16
df.groupby("location")["price_per_sqft"].mean().sort_values(ascending=False).head(5)

#17
# temp=df.groupby("bhk")
# for bhk,loc in temp:
#     print(bhk)
#     print(loc.groupby("location")["price"].max())
    # print(loc)
# df.loc[df.groupby("bhk")["price"].idxmax(), ["bhk", "location", "price"]]
#18

def level(price):
    if price<50:
        return "Low"
    elif price >50 and price<100:
        return "Medium"
    else:
        return "High"
    
df["luxury_level"]=df["price"].apply(level)

#19
df["location"].value_counts()>10

#20
df.groupby("bhk")["price"].median()

#21
Q1 = df["price_per_sqft"].quantile(0.25)
Q3 = df["price_per_sqft"].quantile(0.75)
IQR = Q3- Q1
outliers = df[(df["price_per_sqft"] < Q1- 1.5 * IQR) | (df["price_per_sqft"]
> Q3 + 1.5 * IQR)]
outliers

#22
df= df[df["total_sqft"] / df["bhk"] >= 300]

#23
df.groupby("location")["price_per_sqft"].std()

#24
df_mean=df["price_per_sqft"].mean()
df_mean
df_std=df["price_per_sqft"].std()
df_std

df = df[
    (df.price_per_sqft > (df_mean - 3*df_std)) &
    (df.price_per_sqft < (df_mean + 3*df_std))
]
# std_loc = df.groupby("location")["price_per_sqft"].std()
# std_loc[std_loc > std_loc.mean()]

#25
df["price_per_sqft_norm"] = (df["price_per_sqft"]- df["price_per_sqft"].min()) / (df["price_per_sqft"].max()- df["price_per_sqft"].min())

#26
df["bath_bhk_ratio"] = df["bath"] / df["bhk"]

#27
df[df["bath_bhk_ratio"] > 2]

#28
df["price_rank"] = df.groupby("location")["price"].rank(ascending=False)
df
#29
valid_locations = df["location"].value_counts()
valid_locations = valid_locations[valid_locations >= 10].index
valid_locations

Index(['other', 'Whitefield', 'Sarjapur  Road', 'Electronic City',
       'Kanakpura Road', 'Thanisandra', 'Yelahanka', 'Uttarahalli',
       'Raja Rajeshwari Nagar', 'Marathahalli',
       ...
       'Vasanthapura', 'Sector 7 HSR Layout', 'Kodigehaali', 'Chikkabanavar',
       'Nehru Nagar', 'Narayanapura', 'Kadubeesanahalli', 'Basaveshwara Nagar',
       'Banashankari Stage VI', 'Tindlu'],
      dtype='object', name='location', length=212)

--Remove outliers using percentile technique first. Use [0.001, 0.999] for lower and upper bound percentiles.
--After removing outliers in step 1, you get a new dataframe.
--On step(2) dataframe, use 4 standard deviation to remove outliers
--Plot histogram for new dataframe that is generated after step (3). Also plot bell curve on same histogram.
--On step(2) dataframe, use zscore of 4 to remove outliers. This is quite similar to step (3) and you will get exact same result.