In [1]:
import pandas as pd
import numpy as np

| Operator | Meaning        | Method Equivalent |
| -------- | -------------- | ----------------- |
| `+`      | Addition       | `.add()`          |
| `-`      | Subtraction    | `.sub()`          |
| `*`      | Multiplication | `.mul()`          |
| `/`      | Division       | `.div()`          |
| `//`     | Floor division | `.floordiv()`     |
| `%`      | Modulus        | `.mod()`          |
| `**`     | Power          | `.pow()`          |

In [2]:
x=np.random.randint(50,100,10)
y=np.random.randint(50,100,10)

df=pd.DataFrame({"X":x,
                 "Y":y})

df["Addition of X+Y"]=df["X"]+df["Y"]
df["Subtraction of X-Y"]=df["X"]-df["Y"]
df["Multiplication of X*Y"]=df["X"]*df["Y"]
df["Divition of X/Y"]=df["X"]/df["Y"]

df

,X,Y,Addition of X+Y,Subtraction of X-Y,Multiplication of X*Y,Divition of X/Y
0,51,86,137,-35,4386,0.593023
1,96,98,194,-2,9408,0.979592
2,85,55,140,30,4675,1.545455
3,58,91,149,-33,5278,0.637363
4,76,76,152,0,5776,1.000000
5,55,63,118,-8,3465,0.873016
6,83,75,158,8,6225,1.106667
7,77,61,138,16,4697,1.262295
8,73,82,155,-9,5986,0.890244
9,51,77,128,-26,3927,0.662338

In [18]:
df["X>y"]=df["X"]>df["Y"]
df
df["X & y"]=df["X"] & df["Y"]
df

,X,Y,Addition of X+Y,Subtraction of X-Y,Multiplication of X*Y,Divition of X/Y,X>y,X & y
0,88,52,140,36,4576,1.692308,True,16
1,76,73,149,3,5548,1.041096,True,72
2,90,71,161,19,6390,1.267606,True,66
3,76,66,142,10,5016,1.151515,True,64
4,69,53,122,16,3657,1.301887,True,5
5,95,81,176,14,7695,1.172840,True,81
6,97,98,195,-1,9506,0.989796,False,96
7,77,57,134,20,4389,1.350877,True,9
8,52,97,149,-45,5044,0.536082,False,32
9,76,91,167,-15,6916,0.835165,False,72

In [5]:
df1 = pd.DataFrame({"A":[1,2], "B":[3,4]})
df2 = pd.DataFrame({"A":[10,20], "C":[30,40]})

df1 + df2
df1.add(df2, fill_value=0)
df1.sub(df2, fill_value=0)

    A    B     C
0  -9  3.0 -30.0
1 -18  4.0 -40.0

In [35]:
x=np.random.randint(50,100,10)
y=np.random.randint(50,100,10)


df=pd.DataFrame({"X":x,
                 "Y":y})

df["Addition of X+Y"]=df["X"].add(df["Y"])
df["Subtraction of X-Y"]=df["X"].sub(df["Y"])
df["Multiplication of X*Y"]=df["X"]*df["Y"]
df["Divition of X/Y"]=df["X"]/df["Y"]

df
df["Divition of X/Y"]=df["X"]/df["Y"]
print(x)
print(y)
df.add(df)

[88 83 84 98 69 65 72 51 84 71]
[62 86 85 64 58 57 61 93 60 73]

,X,Y,Addition of X+Y,Subtraction of X-Y,Multiplication of X*Y,Divition of X/Y
0,176,124,300,52,10912,2.838710
1,166,172,338,-6,14276,1.930233
2,168,170,338,-2,14280,1.976471
3,196,128,324,68,12544,3.062500
4,138,116,254,22,8004,2.379310
5,130,114,244,16,7410,2.280702
6,144,122,266,22,8784,2.360656
7,102,186,288,-84,9486,1.096774
8,168,120,288,48,10080,2.800000
9,142,146,288,-4,10366,1.945205