In [2]:
import numpy as np
import pandas as pd
import random

rand=np.random.default_rng(seed=42)

| Property     | Purpose                  |
| ------------ | ------------------------ |
| `df.shape`   | Rows & columns count     |
| `df.size`    | Total elements           |
| `df.ndim`    | Dimension (always 2)     |
| `df.columns` | Column labels            |
| `df.index`   | Row labels               |
| `df.dtypes`  | Data type of each column |
| `df.values`  | Data as NumPy array      |
| `df.empty`   | Check if empty           |
| `df.T`       | Transpose                |

| Method          | Use                   |
| --------------- | --------------------- |
| `df.head()`     | First 5 rows          |
| `df.tail()`     | Last 5 rows           |
| `df.info()`     | Memory, nulls, dtypes |
| `df.describe()` | Statistical summary   |
| `df.sample()`   | Random rows           |

In [3]:
df=pd.read_csv("student.csv")
print(df.head())
# print(df.tail())
# print(df.describe().to_string())
# print(df.info())
print(df.columns)
print(df.index)
print(df.empty)
print(df.values)

         Names  Marks  Attendance  Physics  Chemistry  Biology  Total  Average
0  Student_ID1     99           2        3          3        5     11     3.67
1  Student_ID2     73           1        9          4        2     15     5.00
2  Student_ID3     68           8        4          6        7     17     5.67
3  Student_ID4     48           4        3          5        8     16     5.33
4  Student_ID5     72           4        7          4        9     20     6.67
Index(['Names', 'Marks', 'Attendance', 'Physics', 'Chemistry', 'Biology',
       'Total', 'Average'],
      dtype='object')
RangeIndex(start=0, stop=10, step=1)
False
[['Student_ID1' 99 2 3 3 5 11 3.67]
 ['Student_ID2' 73 1 9 4 2 15 5.0]
 ['Student_ID3' 68 8 4 6 7 17 5.67]
 ['Student_ID4' 48 4 3 5 8 16 5.33]
 ['Student_ID5' 72 4 7 4 9 20 6.67]
 ['Student_ID6' 40 8 7 9 1 17 5.67]
 ['Student_ID7' 88 6 6 9 3 18 6.0]
 ['Student_ID8' 65 4 9 3 8 20 6.67]
 ['Student_ID9' 44 3 9 8 4 21 7.0]
 ['Student_ID10' 44 3 2 8 8 18 6.0]]

In [4]:
print(df[["Marks","Total","Physics"]])
# print(df.loc["Student_ID5"])
print(df.loc[0,"Marks"])
# print(df.iloc[0,1])
# df["Math"]=[i for i in range(1,11)]
# print(df)

   Marks  Total  Physics
0     99     11        3
1     73     15        9
2     68     17        4
3     48     16        3
4     72     20        7
5     40     17        7
6     88     18        6
7     65     20        9
8     44     21        9
9     44     18        2
99

In [6]:
df=df.rename(columns={"Marks":"Scores","Average":"Mean"})
df

          Names  Scores  Attendance  Physics  Chemistry  Biology  Total  Mean
0   Student_ID1      99           2        3          3        5     11  3.67
1   Student_ID2      73           1        9          4        2     15  5.00
2   Student_ID3      68           8        4          6        7     17  5.67
3   Student_ID4      48           4        3          5        8     16  5.33
4   Student_ID5      72           4        7          4        9     20  6.67
5   Student_ID6      40           8        7          9        1     17  5.67
6   Student_ID7      88           6        6          9        3     18  6.00
7   Student_ID8      65           4        9          3        8     20  6.67
8   Student_ID9      44           3        9          8        4     21  7.00
9  Student_ID10      44           3        2          8        8     18  6.00

In [5]:
print("Checking null values:\n",df.isnull())

Checking null values:
    Names  Scores  Attendance  Physics  Chemistry  Biology  Total   Mean   Math
0  False   False       False    False      False    False  False  False  False
1  False   False       False    False      False    False  False  False  False
2  False   False       False    False      False    False  False  False  False
3  False   False       False    False      False    False  False  False  False
4  False   False       False    False      False    False  False  False  False
5  False   False       False    False      False    False  False  False  False
6  False   False       False    False      False    False  False  False  False
7  False   False       False    False      False    False  False  False  False
8  False   False       False    False      False    False  False  False  False
9  False   False       False    False      False    False  False  False  False

In [7]:
print(df.sort_values("Mean",ascending=False).to_string())

          Names  Scores  Attendance  Physics  Chemistry  Biology  Total  Mean  Math
8   Student_ID9      44           3        9          8        4     21  7.00     9
4   Student_ID5      72           4        7          4        9     20  6.67     5
7   Student_ID8      65           4        9          3        8     20  6.67     8
6   Student_ID7      88           6        6          9        3     18  6.00     7
9  Student_ID10      44           3        2          8        8     18  6.00    10
2   Student_ID3      68           8        4          6        7     17  5.67     3
5   Student_ID6      40           8        7          9        1     17  5.67     6
3   Student_ID4      48           4        3          5        8     16  5.33     4
1   Student_ID2      73           1        9          4        2     15  5.00     2
0   Student_ID1      99           2        3          3        5     11  3.67     1

Pandas never rearranges column values independently ‚ùå

In [7]:
print("Sorting the values:")
print(
    df.sort_values(
        ["Scores", "Attendance","Biology"],
        ascending=[False, False,False]
    ).to_string()
)

Sorting the values:
          Names  Scores  Attendance  Physics  Chemistry  Biology  Total  Mean
0   Student_ID1      99           2        3          3        5     11  3.67
6   Student_ID7      88           6        6          9        3     18  6.00
1   Student_ID2      73           1        9          4        2     15  5.00
4   Student_ID5      72           4        7          4        9     20  6.67
2   Student_ID3      68           8        4          6        7     17  5.67
7   Student_ID8      65           4        9          3        8     20  6.67
3   Student_ID4      48           4        3          5        8     16  5.33
9  Student_ID10      44           3        2          8        8     18  6.00
8   Student_ID9      44           3        9          8        4     21  7.00
5   Student_ID6      40           8        7          9        1     17  5.67

In [9]:
print((df.corr(numeric_only=True).to_string()))

              Scores  Attendance   Physics  Chemistry   Biology     Total      Mean
Scores      1.000000   -0.210421 -0.063009  -0.472156 -0.047342 -0.499578 -0.498833
Attendance -0.210421    1.000000 -0.098456   0.510868 -0.106394  0.228354  0.229136
Physics    -0.063009   -0.098456  1.000000  -0.068920 -0.389531  0.494731  0.495219
Chemistry  -0.472156    0.510868 -0.068920   1.000000 -0.438053  0.335706  0.335147
Biology    -0.047342   -0.106394 -0.389531  -0.438053  1.000000  0.258979  0.258985
Total      -0.499578    0.228354  0.494731   0.335706  0.258979  1.000000  0.999997
Mean       -0.498833    0.229136  0.495219   0.335147  0.258985  0.999997  1.000000

In [32]:
stats = df.select_dtypes(include="number")

stats.mean()
stats.median()
stats.corr()

,Marks,Attendance,Physics,Chemistry,Biology,Total,Average
Marks,1.000000,-0.210421,-0.063009,-0.472156,-0.047342,-0.499578,-0.498833
Attendance,-0.210421,1.000000,-0.098456,0.510868,-0.106394,0.228354,0.229136
Physics,-0.063009,-0.098456,1.000000,-0.068920,-0.389531,0.494731,0.495219
Chemistry,-0.472156,0.510868,-0.068920,1.000000,-0.438053,0.335706,0.335147
Biology,-0.047342,-0.106394,-0.389531,-0.438053,1.000000,0.258979,0.258985
Total,-0.499578,0.228354,0.494731,0.335706,0.258979,1.000000,0.999997
Average,-0.498833,0.229136,0.495219,0.335147,0.258985,0.999997,1.000000

In [39]:
print(df["Names"])

0     Student_ID1
1     Student_ID2
2     Student_ID3
3     Student_ID4
4     Student_ID5
5     Student_ID6
6     Student_ID7
7     Student_ID8
8     Student_ID9
9    Student_ID10
Name: Names, dtype: object