In [1]:
import pandas as pd
import numpy as np

data = {
    "Student": ["A", "B", "C", "D", "E"],
    "Math": [85, 90, np.nan, 70, 88],
    "Physics": [np.nan, 92, 75, 80, np.nan],
    "Chemistry": [78, np.nan, 82, 76, 85],
    "Attendance": [90, 85, np.nan, 95, 88]
}

df = pd.DataFrame(data)
print(df)

  Student  Math  Physics  Chemistry  Attendance
0       A  85.0      NaN       78.0        90.0
1       B  90.0     92.0        NaN        85.0
2       C   NaN     75.0       82.0         NaN
3       D  70.0     80.0       76.0        95.0
4       E  88.0      NaN       85.0        88.0

In [4]:
df.isnull()
df.isnull().sum()

Student       0
Math          1
Physics       2
Chemistry     1
Attendance    1
dtype: int64

In [16]:
df=df.fillna(df.mean(numeric_only=True))
print(df)
df=df.fillna(np.mean(df.select_dtypes(include="number")).round(2))
df = df.fillna(np.mean(df.select_dtypes(include="number")).round(2))
df

  Student   Math    Physics  Chemistry  Attendance
0       A  85.00  82.333333      78.00        90.0
1       B  90.00  92.000000      80.25        85.0
2       C  83.25  75.000000      82.00        89.5
3       D  70.00  80.000000      76.00        95.0
4       E  88.00  82.333333      85.00        88.0

  Student   Math    Physics  Chemistry  Attendance
0       A  85.00  82.333333      78.00        90.0
1       B  90.00  92.000000      80.25        85.0
2       C  83.25  75.000000      82.00        89.5
3       D  70.00  80.000000      76.00        95.0
4       E  88.00  82.333333      85.00        88.0