In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("automobile_data.csv")
df

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [4]:
print(df.index)
print(df.columns)

print(df.describe().to_string())
df.info

RangeIndex(start=0, stop=61, step=1)
Index(['index', 'company', 'body-style', 'wheel-base', 'length', 'engine-type',
       'num-of-cylinders', 'horsepower', 'average-mileage', 'price'],
      dtype='object')
           index  wheel-base      length  horsepower  average-mileage         price
count  61.000000   61.000000   61.000000   61.000000        61.000000     58.000000
mean   40.885246   98.481967  173.098361  107.852459        25.803279  15387.000000
std    25.429706    6.679234   14.021846   53.524398         8.129821  11320.259841
min     0.000000   88.400000  141.100000   48.000000        13.000000   5151.000000
25%    18.000000   94.500000  159.100000   68.000000        19.000000   6808.500000
50%    39.000000   96.300000  171.200000  100.000000        25.000000  11095.000000
75%    61.000000  101.200000  177.300000  123.000000        31.000000  18120.500000
max    88.000000  120.900000  208.100000  288.000000        47.000000  45400.000000

<bound method DataFrame.info of     index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible        88.6   168.8        dohc
2       2  alfa-romero    hatchback        94.5   171.2        ohcv
3       3         audi        sedan        99.8   176.6         ohc
4       4         audi        sedan        99.4   176.6         ohc
..    ...          ...          ...         ...     ...         ...
56     81   volkswagen        sedan        97.3   171.7         ohc
57     82   volkswagen        sedan        97.3   171.7         ohc
58     86   volkswagen        sedan        97.3   171.7         ohc
59     87        volvo        sedan       104.3   188.8         ohc
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
2               six         154               19  16500.0
3              four         102               24  13950.0
4              five         115               18  17450.0
..              ...         ...              ...      ...
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

[61 rows x 10 columns]>

In [29]:
df
column_len=len(df.columns)
row_len=len(df.index)
column_len
row_len
print(df.iloc[:11,:5])

    index      company   body-style  wheel-base  length
0       0  alfa-romero  convertible        88.6   168.8
1       1  alfa-romero  convertible        88.6   168.8
2       2  alfa-romero    hatchback        94.5   171.2
3       3         audi        sedan        99.8   176.6
4       4         audi        sedan        99.4   176.6
5       5         audi        sedan        99.8   177.3
6       6         audi        wagon       105.8   192.7
7       9          bmw        sedan       101.2   176.8
8      10          bmw        sedan       101.2   176.8
9      11          bmw        sedan       101.2   176.8
10     13          bmw        sedan       103.5   189.0

In [30]:
print(df.loc[:10, df.columns[:5]])

    index      company   body-style  wheel-base  length
0       0  alfa-romero  convertible        88.6   168.8
1       1  alfa-romero  convertible        88.6   168.8
2       2  alfa-romero    hatchback        94.5   171.2
3       3         audi        sedan        99.8   176.6
4       4         audi        sedan        99.4   176.6
5       5         audi        sedan        99.8   177.3
6       6         audi        wagon       105.8   192.7
7       9          bmw        sedan       101.2   176.8
8      10          bmw        sedan       101.2   176.8
9      11          bmw        sedan       101.2   176.8
10     13          bmw        sedan       103.5   189.0

In [ ]:
arr=np.array(df)
arr

In [44]:
df.sort_index(axis=0,ascending=False)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,1,Company
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,NaN,NaN
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,NaN,NaN
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,NaN,NaN
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,NaN,NaN
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,NaN,NaN
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,NaN,NaN
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,NaN,NaN
1,1,Python,convertible,88.6,168.8,dohc,four,111,21,16500.0,Python,Python
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,NaN,NaN

In [8]:
df.loc[1,"length"]="Index"
df.fillna(0)
# df=df.drop([0,9],axis=1)
# df

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,Index,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [7]:
df.drop(columns=[col for col in df.columns if 'temp' in col.lower()], inplace=True)
df

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,Index,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0